@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:300,400,900');

$highlight-color: #9abbff;
//$highlight-color: #00ccff;
$link-color: #9abbff;
//$link-color: #00ccff;
$logo-contrast-color: #ffffff;
$text-color: #eaeaea;
$background-color: #151515;
$footer-height: 130px;

$main-font: "Source Sans Pro", Arial, Helvetica, sans-serif;
$title-font: $main-font;
$brace-yourself-font: "Source Code Pro", Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
