---
---

@import "vars";

#prefooter {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	background: rgba(0, 0, 0, 0.1);
	//border-top: 1px dashed $highlight-color;
	box-shadow: 0px -1px 1px $background-color;
	position: absolute;
	bottom: $footer-height;
	margin-bottom: 0;
}

#prefooter p {
	margin-bottom: 1em;
}

@media(max-width: 767px) {
	#prefooter {
		height: 175px;
	}
    body {
        margin-bottom: $footer-height + 175px;
    }
}

@media(min-width: 768px) {
	#prefooter {
		height: 144px;
	}
    body {
        margin-bottom: $footer-height + 144px;
    }
}

@media (max-width: 767px) {
	.sponsors-logo {
		max-width: 300px;
		margin: 0 auto;
	}
}