---
---

@import "vars";
@import "rouge-base16-dark";
@import "theme-basic";
@import "logo";

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

#main-content, #prefooter {
  font-weight: 300;
}

.main-content {
	margin-bottom: 1.2em;
}

.footer {
	border-top: 1px dashed $highlight-color;
	margin-top: 20px;
	padding-top: 20px;
	font-size: 0.83em;
}

.brace-yourself .logo {
	padding-top:1.6em;
	padding-bottom:2em;
	width: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
}

.navbar {
	background: rgba(0, 0, 0, 0.1);
	width: 100%;
	padding: 15px 0;
	border-bottom: 1px dashed $highlight-color;
}

.navbar-container {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
}

.navbar-brand {
  font-size: 30px;
  color: $highlight-color;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

.navbar-brand a:hover {
	text-decoration: none;
}

ul.nav li:before {
    content: "";
    margin: 0;
}

ul.navbar-nav a:hover:before {
	content: "\\> ";
	color: $highlight-color;
}

ul.navbar-nav .active a:before {
	content: "\\> ";
	color: $highlight-color;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

ul.navbar-nav .no-before a:hover:before {
	content: "";
}