<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google-site-verification" content="BzD__x9Xjodfm0xAym--0Sd2oe8QbYEttkTwJo1yVSs" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/typed.min.js?v=' | append: site.github.build_revision | relative_url }}" ></script>
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% if page.prefooter == true %}
    <link rel="stylesheet" href="{{ '/assets/css/prefooter.css?v=' | append: site.github.build_revision | relative_url }}">
    {% endif %}
    <title>{{ site.title }}{% if page.title %} | {{ page.title }} {% endif %}</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <header class="navbar navbar-inverse">
        <div class="navbar-container">
        <div class="navbar-header">
            <span class="navbar-brand"><a href="/"><span class="logo-draw">\> </span><span class="logo-poli">poli</span><span class="logo-ctf">ctf</span></a></span>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        </div>
        <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" role="navigation">
          <ul class="nav navbar-nav navbar-right">
            {% assign pages = site.pages | where: "menu", true | sort: 'menu_order' %}
            {% for p in pages %}
                <li {% if page.url == p.url %}class="active"{%endif%}><a href="{{ p.url | relative_url }}">{{p.title}}</a></li>
            {% endfor %}
            <li class="no-before"><a href="https://twitter.com/towerofhanoi" target="_blank"><span class="fa fa-twitter"></span></a></li>
            <li class="no-before"><a href="mailto:info@polictf.it"><span class="fa fa-envelope"></span></a></li>
          </ul>
        </nav>
        </div>
    </header>

   {{ content }}

    <footer class="footer">
        <div class="container text-muted">
            <p>Competition organized by <a href="http://toh.necst.it">Tower of Hanoi</a> and supported by the <a href="http://www.necst.it">NECSTLab</a>.</p>
            <p>{% for s in site.contacts %}
            <i class="fa fa-{{s.icon}}" aria-hidden="true"></i> <a href="{{s.url}}">{{s.name}}</a>{% if forloop.last == false %}&nbsp;&bull; {% endif %}
            {% endfor %}</p>
            <p>Theme '<a href="https://github.com/pages-themes/hacker">Hacker</a>', customized by Tower of Hanoi</p>
        </div>
    </footer>

    {% if site.google_analytics %}
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
        pageTracker._trackPageview();
        } catch(err) {}
      </script>
    {% endif %}
  </body>
</html>
