---
layout: default
---

<div class="container">
    <section id="main-content">
        <div class="brace-yourself">
            <p class="head-up">Thank you...</p>
            <p><span class="logo-draw logo-big">\&gt;</span></p>
            <p class="head-down">for playing <span class="logo-draw">2017 \> </span><span class="logo-poli">poli</span><span class="logo-ctf">ctf</span>!</p>
            <p class="datetime"><i class="fa fa-globe highlight" aria-hidden="true"></i>&nbsp;&nbsp;The Internet</p>
            <p class="datetime"><i class="fa fa-calendar highlight" aria-hidden="true"></i>&nbsp;&nbsp;Fri, 07 July 2017, 09:00 UTC &ndash; Sun, 09 July 2017, 09:00 UTC&nbsp;</p>
            <p><a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=PoliCTF+2017&iso=20170707T09&p1=1440">timezone converter</a></p>
        </div>

        <div>
            {{ content }}
        </div>
    </section>
</div>

<section id="prefooter">
    <div class="container">
        <div class="text-muted">
            <p>polictf 2017 is kindly sponsored by</p>
        </div>
        <div class="row sponsors-logo">
            <div class="hidden-xs col-sm-1"></div>
            <div class="col-xs-12 col-sm-5">
                <a href="https://www.securenetwork.it/en/" target="_blank">
                    <img src="assets/images/sponsor/sn-logo.png" alt="Secure Network" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-5">
                <a href="https://www.consorzio-cini.it/index.php/en/national-laboratories/labcs-home" target="_blank">
                    <img src="assets/images/sponsor/cini.png" alt="CINI Cyber Security National Lab" />
                </a>
            </div>
            <div class="hidden-xs col-sm-1"></div>
        </div>
    </div>
</section>
